@import "../../../scss/index.scss";

.auth-options{
    margin-top: 50px;

    h2 {
        font-size: 40px;
        color: $font-ligth;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }

    // Estilo del boton, es necesario la ruta completa de la clase.
    .ui.button.register,
    .ui.button.login {
        text-transform: uppercase;
        width: 100%;
        margin-bottom: 30px;
        border-radius: 50px;
        padding: 20px 0;
        font-size: 17px;
        letter-spacing: 3px;
    }
    .ui.button.register {
        background-color: $primary-color;
        color: $font-ligth;
    }
    .ui.button.login {
        background-color: $background-ligth;
        color: $font-dark;
    }
}