<div class="side-bar">
  <!-- Lista 1 -->
  <div><i class="uil uil-ellipsis-h"></i></div>
  <ul class="side-bar__list list-one">
    <!-- Usamos router link para nuestra navegacion -->
    <!-- <li [routerLink]="item.router" *ngFor="let item of mainMenu.defaultOptions"> -->
    <!-- <li (click)="goTo($event)" *ngFor="let item of mainMenu.defaultOptions">-->
    <!-- <li [routerLink]="item.router" [queryParams]="{key1: 'value1'}" *ngFor="let item of mainMenu.defaultOptions"> -->
    <li [routerLink]="item.router" [queryParams]="item.query" *ngFor="let item of mainMenu.defaultOptions">
      <div class="list-wrapper-item">
        <i [ngClass]="['uil',item.icon]"></i>
        <span class="side-bar__list list-label">{{item.name}}</span>
      </div>
    </li>
  </ul>
  <!-- Lista 2 -->
  <div class="side-bar__separator"></div>
  <ul class="side-bar__list list-two">
    <li *ngFor="let item of mainMenu.accessLink">
      <div class="list-wrapper-item">
        <i [ngClass]="['uil',item.icon]"></i>
        <span class="side-bar__list list-label">{{item.name}}</span>
      </div>
    </li>
  </ul>
  <!-- Lista 3 -->
  <div class="side-bar__separator line-separator"></div>
  <ul class="side-bar__list list-three">
    <li *ngFor="let item of customOptions">
      <div class="list-wrapper-item">
        <span class="side-bar__list list-label">{{item.name}}</span>
      </div>
    </li>
  </ul>
</div>
