/* ================================== */
/* Variables que continen los colores */
/* ================================== */
$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-ligth: #fff;
$font-grey: #9e9e9e;
$font-dark: #000;

$background-ligth: #fff;
$background-grey: #2d2d2d;
$background-grey-dark: #101010;
$background-dark: #000;