<!-- MENU - Componente compartido -->
<app-side-bar></app-side-bar>

<!-- Separar Menu del contenido -->
<div class="home-wrapper">
  <router-outlet></router-outlet>
</div>

<!-- MEDIA PLAYER - Componente compartido -->
<app-media-player></app-media-player>