<div class="tracks-page">
  <!-- Sección top (small) -->
  <app-section-generic [title]="'¡La mejor musica del mundo!'" [mode]="'small'" [dataTracks]="tracksTrending"></app-section-generic>

  <!-- Sección medium (big) -->
  <app-section-generic [title]="'Lo mejor de electrónica'" [mode]="'big'" [dataTracks]="tracksRandom"></app-section-generic>
</div>
