<div class="play-list-header">
  <div class="cover">
    <div class="cover-mock">
      <i class="uil uil-heart"></i>
    </div>
  </div>
  <div class="content-text">
    <div class="small-text">Playlist</div>
    <h1 class="title">Canciones que te gustan</h1>
    <h5 class="sub-title">Cristhian J. Apaza Arhuata <span class="count-tracks">206 canciones</span> </h5>
  </div>
</div>
